<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>GadgetEase | Sales Dashboard</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/adminstyles/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/adminstyles/css/feather.css">
    <link rel="stylesheet" href="/adminstyles/css/select2.css">
    <link rel="stylesheet" href="/adminstyles/css/dropzone.css">
    <link rel="stylesheet" href="/adminstyles/css/uppy.min.css">
    <link rel="stylesheet" href="/adminstyles/css/jquery.steps.css">
    <link rel="stylesheet" href="/adminstyles/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/adminstyles/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/adminstyles/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/adminstyles/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/adminstyles/css/app-dark.css" id="darkTheme" disabled>
  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
      <%- include('../partials/admin-nav') %>
      
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow bg-primary text-white border-0">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary-light">
                            <i class="fe fe-16 fe-shopping-bag text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col pr-0">
                          <p class="small text-muted mb-0">Monthly Sales</p>
                          <span class="h3 mb-0 text-white"><%= orderCounts.thisMonthOrders %></span>
                          <span class="small text-muted">+5.5%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow border-0">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-shopping-cart text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col pr-0">
                          <p class="small text-muted mb-0">Life Time Orders</p>
                          <span class="h3 mb-0"><%= orderCounts.totalOrders %></span>
                          <span class="small text-success">+16.5%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow border-0">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-filter text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col">
                          <p class="small text-muted mb-0">Today Orders</p>
                          <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                              <span class="h3 mr-2 mb-0"> <%= orderCounts.todayOrders %></span>
                            </div>
                            <div class="col-md-12 col-lg">
                              <div class="progress progress-sm mt-2" style="height:3px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow border-0">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-activity text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col">
                          <p class="small text-muted mb-0">AVG Orders</p>
                          <span class="h3 mb-0"><%= averageOrderCount.toFixed(2) %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end section -->
              <div class="row align-items-center my-2">
                  <div id="lineChartContainer">
                    <canvas id="dailyOrderChart" width="800" height="400"></canvas>
                  </div>
              </div>
              <!-- charts-->
              <!-- info small box -->
              <div class="row">
                
                
                
                <div class="col-md-6">
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <div id="pieChartContainer">
                        <canvas id="categoryOrderChart" height="400"></canvas>
                      </div>
                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
                </div> <!-- .col-md -->
                <div class="col-md-6">
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <div class="card-title">
                        <strong>Region</strong>
                      </div>

                      <div class="card-body">
                        <p class="mb-2"><strong>Reports</strong></p>
                        <div class="form-group">
                          <form action="/postreport" method="post">
                          <label for="date-input1">Date Range (From)</label>
                          <input type="date" class="custom-select  mb-3"  id="date-input1" required name="dateF"  min="2023-09-01">
                          <label for="date-input1">Date Range (To)</label>
                          <input type="date" class="custom-select  mb-3"  id="date-input2" required name="dateL">
                          <label for="custom-select">Custom Select</label>
                          <select class="custom-select" name="type" required id="custom-select">
                            <option selected value="sales report">Sales Report</option>
                            <option value="cancel report">Cancel Report</option>
                            <option value="stock report">Revenue Report</option>
                          </select>
                          <button type="submit" class="btn mb-2 mt-3 btn-primary btn-lg btn-block">Generate Report </button>
                        </form>
                        </div>
                      </div> <!-- /.card-body -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- .col -->
              </div> <!-- / .row -->
              <div class="row">
                <!-- Recent orders -->
                <div class="col-md-12">
                  <h6 class="mb-3">Last orders</h6>
                  <table class="table table-borderless table-striped">
                    <thead>
                      <tr role="row">
                        <th>ID</th>
                        <th>Purchase Date</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Phone</th>
                        <th>Total</th>
                        <th>Payment</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% orders.forEach(order =>{ %>
                      <tr>
                        <th scope="col"><%= order._id.toString().substring(0, 7).toUpperCase()  %></th>
                        <td><%= order.orderDate.toDateString() %></td>
                        <td><%= order.items[0].product.name %></td>
                        <td><%= order.user.username %></td>
                        <td><%= order.user.phoneNumber %></td>
                        <td>₹<%= order.items[0].price %></td>
                        <td><%= order.paymentMethod %></td>
                        <td><%= order.status %></td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="/order-details/<%= order._id %>">Edit</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div> <!-- / .col-md-3 -->
              </div> <!-- end section -->
            </div>
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/adminstyles/js/datamaps.all.min.js"></script>
    <script src="/adminstyles/js/datamaps-zoomto.js"></script>
    <script src="/adminstyles/js/datamaps.custom.js"></script>
    <script src="/adminstyles/js/Chart.min.js"></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="/adminstyles/js/gauge.min.js"></script>
    <script src="/adminstyles/js/jquery.sparkline.min.js"></script>
    <script src="/adminstyles/js/apexcharts.min.js"></script>
    <script src="/adminstyles/js/apexcharts.custom.js"></script>
    <script src='/adminstyles/js/jquery.mask.min.js'></script>
    <script src='/adminstyles/js/select2.min.js'></script>
    <script src='/adminstyles/js/jquery.steps.min.js'></script>
    <script src='/adminstyles/js/jquery.validate.min.js'></script>
    <script src='/adminstyles/js/jquery.timepicker.js'></script>
    <script src='/adminstyles/js/dropzone.min.js'></script>
    <script src='/adminstyles/js/uppy.min.js'></script>
    <script src='/adminstyles/js/quill.min.js'></script>
    <script>
      $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
      $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
      $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
      $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
      /** date range picker */
      if ($('.datetimes').length)
      {
        $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
      }
      var start = moment().subtract(29, 'days');
      var end = moment();

      function cb(start, end)
      {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
      $('#reportrange').daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges:
        {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
      {
        placeholder: "__/__/____"
      });
      $('.input-zip').mask('00000-000',
      {
        placeholder: "____-___"
      });
      $('.input-money').mask("#.##0,00",
      {
        reverse: true
      });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
      {
        translation:
        {
          'Z':
          {
            pattern: /[0-9]/,
            optional: true
          }
        },
        placeholder: "___.___.___.___"
      });
      // editor
      var editor = document.getElementById('editor');
      if (editor)
      {
        var toolbarOptions = [
          [
          {
            'font': []
          }],
          [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
          {
            'header': 1
          },
          {
            'header': 2
          }],
          [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
          [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
          [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
          [
          {
            'direction': 'rtl'
          }], // text direction
          [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
          [
          {
            'align': []
          }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function()
      {
        'use strict';
        window.addEventListener('load', function()
        {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form)
          {
            form.addEventListener('submit', function(event)
            {
              if (form.checkValidity() === false)
              {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script>
      var uptarg = document.getElementById('drag-drop-area');
      if (uptarg)
      {
        var uppy = Uppy.Core().use(Uppy.Dashboard,
        {
          inline: true,
          target: uptarg,
          proudlyDisplayPoweredByUppy: false,
          theme: 'dark',
          width: 770,
          height: 210,
          plugins: ['Webcam']
        }).use(Uppy.Tus,
        {
          endpoint: 'https://master.tus.io/files/'
        });
        uppy.on('complete', (result) =>
        {
          console.log('Upload complete! We’ve uploaded these files:', result.successful)
        });
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

    <script>

const historicalData = JSON.parse('<%- JSON.stringify(historicalData) %>');

// Prepare the data for the chart
const labels = historicalData.map((data) => data.date); // Dates for X-axis
const orderCounts = historicalData.map((data) => data.count); // Order counts for Y-axis

const ctx = document.getElementById('dailyOrderChart').getContext('2d');
const chart = new Chart(ctx, {
  type: 'line',
  data: {
    labels,
    datasets: [
      {
        label: 'Daily Orders',
        data: orderCounts,
        fill: false,
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 2,
      },
    ],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
      x: {
        type: 'time',
        time: {
          unit: 'day',
        },
        title: {
          display: true,
          text: 'Date',
          padding: { top: 20, left: 0, right: 0, bottom: 0 }
        },
      },
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: 'Order Count',
        },
      },
    },
  },
});

    </script>
    <script>
      // Get the category order counts from the server-side rendering
const categoryOrderCounts = JSON.parse('<%- JSON.stringify(categoryOrderCounts) %>');

// Prepare data for the pie chart
const categoryLabels = categoryOrderCounts.map((data) => data._id);
const categoryCounts = categoryOrderCounts.map((data) => data.count);

// Create the pie chart
const piectx = document.getElementById('categoryOrderChart').getContext('2d');
const piechart = new Chart(piectx, {
  type: 'doughnut',
  data: {
    labels: categoryLabels,
    datasets: [
      {
        data: categoryCounts,
        backgroundColor: [
          'rgba(255, 99, 132, 0.7)',
          'rgba(54, 162, 235, 0.7)',
          'rgba(255, 206, 86, 0.7)',
          // Add more colors as needed
        ],
      },
    ],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    // Add other chart customization options here
  },
});

    </script>
    <script>
        const today = new Date().toISOString().split('T')[0];
    document.getElementById('date-input2').max = today;
    </script>
  </body>
</html>