<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Gadget ease</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('../partials/navigation') %>
		<!-- NAVIGATION -->


		<!-- SECTION -->
		<div class="section" style="margin-top: 4%;">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="https://res.cloudinary.com/dihrwghx2/image/upload/v1696482357/GadgetEaseUploads/iydnlbutvr1wxilx3ghh.jpg" alt="">
							</div>
							<div class="shop-body">
								<h3>Apple<br>Collection</h3>
								<a href="/store/Apple" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="https://res.cloudinary.com/dihrwghx2/image/upload/v1696482357/GadgetEaseUploads/fikx7ilkbhns6hdaoc0e.jpg" alt="">
							</div>
							<div class="shop-body">
								<h3>Google<br>Collection</h3>
								<a href="/store/Google" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="https://res.cloudinary.com/dihrwghx2/image/upload/v1696482357/GadgetEaseUploads/qhefl0nehnbnzyq78pgo.jpg" alt="">
							</div>
							<div class="shop-body">
								<h3>Nothing<br>Collection</h3>
								<a href="/store/Nothing" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">New Products</h3>
							<div class="section-nav">

							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<% products.forEach(product => { %>
										<div class="product">
											<div class="product-img" style="object-fit: contain;">
												<img src="<%= product.productImages[3].secure_url %>" alt="" class="product-image">
												<div class="product-label">
													<% const discountPercentage = ((product.price - product.discountPrice) / product.price) * 100; %>
													<span class="sale">-<%= discountPercentage.toFixed(0) %>%</span>
													<!-- <span class="new">NEW</span> -->
												</div>
											</div>
											
											<div class="product-body">
												<p class="product-category"></p>
												<h3 class="product-name"><a href="/viewproduct/<%=product._id%>"><%=product.name%></a></h3>
												<h4 class="product-price">₹<%=product.discountPrice %><del class="product-old-price">  ₹<%=product.price%></del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button> -->
													<button><a style="text-decoration: none; outline: none;" href="/viewproduct/<%=product._id%>" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">View Product</span></a></button>
												</div>
											</div>
											<div class="add-to-cart">
												<form class="add-to-cart-form" action="/add-to-cart/<%= product._id %>" method="post">
													<button type="submit" class="add-to-cart-btn" data-product-id="<%= product._id %>">
														<i class="fa fa-shopping-cart"></i> add to cart
													</button>
													<input type="number" value="1" name="qty" style="display: none;">
												</form>
											</div>
										</div>
										<%})%>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<% banner.forEach(bannerItem => { %>
			<% if (bannerItem.position === 'first') { %>
			  <div class="banner" style="height: 20%; width: 100%;margin-top: 5%;">
				<a href="<%= bannerItem.link_url %>"><img src="<%= bannerItem.image_url %>" style="height: 10%; width: 100%;" alt=""></a>
			  </div>
			<% } %>
		  <% }); %>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Top selling</h3>
							<div class="section-nav">

							</div>
						</div>
					</div>
					<!-- /section title -->
					<div id="cartNotification" class="alert alert-success" role="alert" style="display: none; position: fixed;
					top: 12%;
					right: 4%;
					width: 39%;
					z-index: 999;">
						Product added to cart!
					</div>
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<% topSelling.forEach(product => { %>
											<div class="product">
												<div class="product-img" style="object-fit: contain;">
													<img src="<%= product.productImages[3].secure_url %>" alt="" class="product-image">
													<div class="product-label">
														<% const discountPercentage = ((product.price - product.discountPrice) / product.price) * 100; %>
														<span class="sale">-<%= discountPercentage.toFixed(0) %>%</span>
														<!-- <span class="new">NEW</span> -->
													</div>
												</div>
												
												<div class="product-body">
													<p class="product-category"></p>
													<h3 class="product-name"><a href="/viewproduct/<%=product._id%>"><%=product.name%></a></h3>
													<h4 class="product-price">₹<%=product.discountPrice %><del class="product-old-price">  ₹<%=product.price%></del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button> -->
														<!-- <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> -->
														<button><a style="text-decoration: none; outline: none;" href="/viewproduct/<%=product._id%>" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">View Product</span></a></button>
													</div>
												</div>
												<div class="add-to-cart">
													<form class="add-to-cart-form" action="/add-to-cart/<%= product._id %>" method="post">
														<button type="submit" class="add-to-cart-btn" data-product-id="<%= product._id %>">
															<i class="fa fa-shopping-cart"></i> add to cart
														</button>
														<input type="number" value="1" name="qty" style="display: none;">
													</form>
												</div>
											</div>
											<%})%>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- /SECTION -->

		<%- include('../partials/footer') %>

		<!-- jQuery Plugins -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/slick.min.js"></script>
		<script src="/js/nouislider.min.js"></script>
		<script src="/js/jquery.zoom.min.js"></script>
		<script src="/js/main.js"></script>
		

	<script>
		document.addEventListener('DOMContentLoaded', function () {
        const addToCartForms = document.querySelectorAll('.add-to-cart-form');
		const cartNotification = document.getElementById('cartNotification');

        addToCartForms.forEach(function (form) {
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                const productId = form.querySelector('.add-to-cart-btn').getAttribute('data-product-id');

                // Send an AJAX request to add the product to the cart
                addToCart(productId);
				showCartNotification();
            });
        });

        function addToCart(productId) {
            fetch(`/add-to-cart/${productId}`, {
                method: 'POST',
                body: JSON.stringify({ qty: 1 }), // You can adjust this to send the desired quantity
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log('Product added to cart:', data);
            })
            .catch(error => {
                console.error('Error adding product to cart:', error);
            });
        }
		function showCartNotification() {
            // Display the cart notification and hide it after a few seconds
            cartNotification.style.display = 'block';
            setTimeout(function () {
                cartNotification.style.display = 'none';
            }, 3000); // Adjust the duration (in milliseconds) as needed
        }
    });
	</script>



	</body>
</html>
